<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" /> <!-- spring boot 내 기본 defaults.xml 파일 include -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" /> <!-- spring boot 내 기본 console-appender.xml 파일 include -->
    <include resource="appender/file-appender.xml"/> <!-- 해당 경로에 만든 커스텀 file-appender.xml 파일 include -->
    <root>
        <springProfile name="development"> <!-- 개발 profile 에서 적용되는 appender -->
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </springProfile>
        <springProfile name="quality-assurance"> <!-- 검증 profile 에서 적용되는 appender -->
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </springProfile>
        <springProfile name="production"> <!-- 운영 profile 에서 적용되는 appender -->
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </springProfile>
    </root>
</configuration>