<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" /> <!-- spring boot 내 기본 defaults.xml 파일 include -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" /> <!-- spring boot 내 기본 console-appender.xml 파일 include -->
    <root>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>